* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(206, 182, 182, 0.637);
}

h1 {
    position: absolute;
    left: 27%;
    top: 16%;
    transform: translate(-50%, -50%);
}

.paragrath {
    width: 946px;
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translate(-50%, -40%);
}

.para {
    text-indent: 2em;
}

video {
    width: 946px;
    height: 542.5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
}